body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: grid;
  grid-template-areas:
      'header header header'
      'sidebar content content';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 10px;
}

.sidebar img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%; /* Image takes full width of the sidebar */
  height: auto; /* Maintain aspect ratio */
}

.main-content {
  grid-area: content;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 5px;
}


img {
  width:50%;
  height: 100%;
}

td.quote-input {
  min-height: 20px;  /* Set the minimum height as per your requirement */
  height: 20px;      /* This ensures the height is at least 50px */
  vertical-align: top; /* Keeps content aligned to the top, if any */
  border: 1px solid #ccc; /* Optional, for visual aid to see the cells */
}
