

.positive {
  color:green
}

.negative {
  color:red
}


#ecoStats tr {
  /* Method 1: Increase Padding */
  padding-top: 20px; /* adjust as needed */
  padding-bottom: 20px; /* adjust as needed */
}

#ecoStats  td, #ecoStats th {

  min-height: 50px; /* adjust as needed */
  line-height: 1.6; /* adjust as needed */
}

#eco-releases td, #eco-releases th{
  line-height: 1.8;
  padding:2px;
}