<html>
  <head>

    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/cyborg/bootstrap.min.css
    " rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="navbar navbar-light bg-primary">
      <div class="container-fluid d-flex justify-content-between">
        <div class="navbar-brand"><a class="text-white" href="/">Login</a></div>
        {% block navbar_additional %}
            {% endblock %}

      </div>
    </div>

    <div class="container" style="margin-top: 2em">
      {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
      {% endfor %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
