<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <div id="userId" style="display:none;"> {{ id }}</div>
    <div id="watchlist-data" style="display:none;"> {{ data }}</div>
    <div class="header">
        <h1>US Economic Dashboard</h1>
    </div>

    </div>
            </div>
        </div>
        <div class="dashboard">
            <div class="row">
                <!-- Quotes and Watchlist Column -->
                <div class="col-lg-8">
                    <!-- Quotes Section -->
                    <div class="section" id="quotes-section">
                        <h2>Quotes</h2>
                        <!-- Quotes content here -->
                        <input type="text" id="ticker" placeholder="Enter Ticker">
                        <button id="quote" >Get Quote</button>
                        <table class="table">
                         <tr>
                              <th id="symbol">symbol</th>
                              <th id="price">price</th>
                              <th id="change">change</th>
                              <th id="changePct">%change</th>
                              <th id="name">Name</th>
                          </tr>
                          <tr class="quote-input">
                              <td class="quote-input" id="symbolField"></td>
                              <td class="quote-input" id="priceField"></td>
                              <td class="quote-input" id="changeField"></td>
                              <td class="quote-input" id="Pctchange"></td>
                              <td class=" quote-input" id="nameField"></td>
                          </tr>
                      </table>
                      <button id="add" >Add to Watchlist</button>
                    </div>

                    <!-- Watch List Section -->
                    <div class="section" id="watchlist-section">
                        <h2>Watch List</h2>
                        <!-- Watchlist content here -->
                        <table class="table min-height-div" id="watchlist-table">
                            <tr> <!-- Table Row -->
                              <th id="watchlist-symbol">symbol</th> <!-- Table Header -->
                              <th id="watchlist-price">price</th>
                              <th id="watchlist-change">change</th>
                              <th id="watchlist-changePct">%change</th>
                              <th id="watchlist-name">Name</th>
                          </tr>


                          </table>
                          </div>

                    <div class="container-fluid" id="news-section" >
                        <h2>News</h2>
                        <div id="news">
                            <table class='table' id="news-table">

                            </table>

                        </div>

                    </div>

                </div>

                <!-- Market Summary Column -->
                <div class="col-lg-4">
                    <div class="section" id="market-summary-section">
                        <h2>Market Summary</h2>
                        <!-- Market Summary content here -->
                        <table class="table" id="market-summary">
                            <tr>
                                <th>Name</th>
                                <th>Last</th>
                                <th>Change</th>
                                <th>Change(%)</th>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>




</div>



            <div class="container-fluid">
                <!-- Full-width row -->
                <div class="row">
                    <div class="col-12">
                        <div class="p-3 mb-2 bg-primary text-white">Key Economic Indicators</div>
                    </div>
                </div>

                <!-- Your existing rows here -->
                <!-- Row 1 -->
                <div class="row">
                    <table class="table" id="ecoStats">
                        <tr>


                        </tr>

                    </table>
                    <!-- ... existing columns ... -->
                </div>

<div class="container-fluid" id="econ-calendar">
    <!-- Full-width row -->
    <div class="row">
        <div class="col-12">
            <div class="p-3 mb-2 bg-primary text-white">Economic Data Releases</div>
        </div>
    </div>

    <!-- Your existing rows here -->
    <!-- Row 1 -->
    <div class="row">
        <table class="table" id="eco-releases">
            <tr>
                <th>Release</th>
                <th>Link</th>

            </tr>

        </table>
        <!-- ... existing columns ... -->
    </div>

    <!-- ... other rows ... -->
</div>

<div class="container-fluid" id="fun-stuff">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <!-- Weather Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Weather</h3>
                    <div class="input-container">
                        <label for="input-city">Select City:</label>
                        <input type="text" autocomplete="city" class="form-control custom-input" id="input-city" placeholder="Enter text here">
                        <button id="btn-city">Submit</button>
                    </div>
                    <div id="todays-weather">
                        <p>Weather for: <span id="location"></span></p>
                        <p>Current Temp: <span id="temp"></span></p>
                        <p>Humidity: <span id="humidity"></span></p>
                        <p>Chance of Precipitation: <span id="precipitation"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Horoscope Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Horoscope</h3>
                    <form>
                        <div class="form-group">
                            <label for="zodiac-signs">Select your Sign:</label>
                            <select class="form-control" id="zodiac-signs">
                                <option></option placeholder="select sign">
                                    <option>Aries</option>
                                    <option>Taurus</option>
                                    <option>Gemini</option>
                                    <option>Cancer</option>
                                    <option>Leo</option>
                                    <option>Virgo</option>
                                    <option>Libra</option>
                                    <option>Scorpio</option>
                                    <option>Sagittarius</option>
                                    <option>Capricorn</option>
                                    <option>Aquarius</option>
                                    <option>Pisces</option>
                            </select>
                        </div>
                    </form>
                    <p id="todays-horoscope"><strong></strong></p>
                </div>
            </div>
        </div>

        <!-- Jokes Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Deep Thought of the Day</h3>
                    <p id="joke"></p>
                    <button type="button" id="joke-me" class="btn btn-primary">More</button>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Other contents (like News) -->

</div>


           <script src="/static/script.js" defer></script>
        </body>
</html>
